---
layout: default
---

<div class="home">
  
  
  <div class="col col-12">
    <div class="col col-3">
      <div class="block glass height-2"  style="background-image:url(assets/avatar.jpg); background-position: center top;"></div>
    </div>
    <div class="col col-9">
      <div class="block glass height-2">
        <div class="block-body">
            <h1>Luc Bouchard</h1>
              <p class="grey-text">Hello! Thanks for looking at my portfolio. I am an undergrad at California Polytechnic State University, San Luis Obispo, and I'm pursuing a B.S. in physics with a minor in computer science. Although I am a physics major, I have a passion for engineering, and I spend a large portion of my time working on satellites for <a href="http://polysat.calpoly.edu">PolySat</a>, the Cal Poly CubeSat program. My interests lie primarily in space, programming, math, and physics. Feel free to take a look at my <a href="assets/LucBouchardResume.pdf"><u>resume</u></a>, send me an <a href="http://www.google.com/recaptcha/mailhide/d?k=01tuL6YxSdUrusJKCfHbt5GQ==&c=5t8u_5w5vsi_Pw24wVqrmSn-fVz8cmHuCvH0-flWk7M="><u> email</u></a>, or look at my <a href="https://github.com/lucbouchard1"><u>github</u></a>.</p>
              
        </div>
      </div>
    </div>
  </div>
  <div class="col col-12">
    <div class="col col-12">
      {% include section-header.html section_name="Resume Highlights" %}
    </div>
    <div class="col col-9" style="margin: 0">
    {% assign value = 1 %}
    {% for port in site.data.portfolio.entries %}
      <a href="{{ port.page | prepend: site.baseurl }}" class="block post-link-box">
        {% if value == 0 %}
        {% assign value = 1 %}
        <div class="not-essential col col-9 height-{{site.data.portfolio.height}}" style="margin: 0; background-image:url(assets/{{port.img}}); background-position: {{ port.pic_pos }};">
        </div>
        <div class="col col-3 grey post-link-responder" style="margin: 0">
          <div class="block-body center">              
            <h2>
              {{ port.title }}
            </h2>
          </div>
        </div>
        {% else %}
        {% assign value = 0 %}
        <div class="col col-3 post-link-responder" style="margin: 0">
          <div class="block-body center">              
            <h2>
              {{ port.title }}
            </h2>
          </div>
        </div>
        <div class="not-essential col col-9 height-{{site.data.portfolio.height}}" style="margin: 0; background-image:url(assets/{{port.img}}); background-position: {{ port.pic_pos }};">
          </div>
        {% endif %}
        </a>
    {% endfor %}
    </div>
    <div class="col col-3">
      <div class="block glass height-{{ site.data.portfolio.entries | size | times:site.data.portfolio.height }}">
          <div class="block-body">
              <h2 class="margin-bot">Skills</h2>
              <div class="col col-4" ">
                {% for skill in site.data.skills %}
                <div id="{{ skill.id }}" onmouseover="reveal('{{ skill.id }}-hidden')" 
                  onmouseout="hide('{{ skill.id }}-hidden')" class="responsive-hover post-meta">{{ skill.name }}
                </div>
                {% endfor %}
              </div>
              <div class="col col-8" ">            
                {% for skill in site.data.skills %}
                <div id="{{ skill.id }}-hidden" style="display: none;" class="post-meta">{{ skill.descr }}</div>
                {% endfor %}
                <div id="skill-help" class="post-meta">Hover over a skill for more info!</div>
              </div>
              <script type="text/javascript">
                function hide(id) {
                  document.getElementById(id).style.display = 'none';
                  document.getElementById('skill-help').style.display = 'block';
                }
                function reveal(id) {
                  document.getElementById(id).style.display = 'block';
                  document.getElementById('skill-help').style.display = 'none';
                }
              </script>
          </div>
      </div>
    </div>  
  </div>
  <div class="col col-12">
    <div class="col col-12">
      {% include section-header.html section_name="Projects" %}
    </div>
    {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="col col-{{post.width}} post-link-box">
      <div class="block post-link-responder">
          <div class="block-body height-{{post.height}}">
              <h3>
                {{ post.title }}
              </h3>
          </div>
      </div>
    </a>
    {% endfor %}
    </div>
</div>
