---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
    <div class="col col-3">
        <div class="block glass height-2"  style="background-image:url(assets/avatar.jpg); background-position: center top;"></div>
    </div>
    <div class="col col-9">
      <div class="block glass height-2">
          <div class="block-body">
              <h1>Luc Bouchard</h1>
              <p class="grey-text">Hello! Thanks for looking at my portfolio. I am an undergrad at California Polytechnic State University, San Luis Obispo, and I'm pursuing a B.S. in physics with a minor in computer science. Although I am a physics major, I have a passion for engineering, and I spend a large portion of my time working on satellites for <a href="http://polysat.calpoly.edu">PolySat</a>, the Cal Poly CubeSat program. My interests lie primarily in space, programming, math, and physics. </p>
          </div>
      </div>
    </div>
    <div class="col col-9">
    {% for port in site.data.portfolio.entries %}
      <div class="block height-{{site.data.portfolio.height}}" style="background-image:url(assets/{{port.img}}); background-position: center;">
          <div class="block-body">              
              <h2 class="align-bottom-right">
                {{ port.title }}
              </h2>
          </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
      <div class="block glass height-{{ site.data.portfolio | size | times:site.data.portfolio.height }}">
          <div class="block-body">
              <h3 class="margin-bot">Skills</h3> 
              <div class="col col-6" ">
                {% for skill in site.data.skills %}
                <div id="{{ skill.id }}" onmouseover="change('{{ skill.id }}-hidden', 'block')" 
                  onmouseout="change('{{ skill.id }}-hidden', 'none')" class="responsive-hover post-meta white-text">{{ skill.name }}
                </div>
                {% endfor %}
              </div>
              <div class="col col-6" ">            
                {% for skill in site.data.skills %}
                <div id="{{ skill.id }}-hidden" style="display: none;" class="post-meta">{{ skill.descr }}</div>
                {% endfor %}
              </div>
              <script type="text/javascript">
                function change(id, state) {
                  document.getElementById(id).style.display = state;
                }
              </script>
          </div>
      </div>
    </div>  
  </div>
  <div class="col col-12">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block grey">
            <div class="block-body height-{{post.height}}">
                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
