@import '../style/variables.scss';

.lb-project-content {
    background-color: $white;
    padding: 20px 25% 100px 25%;

    @media screen and (max-width: $break-tablet) {
        padding-left: 12%;
        padding-right: 12%;
    }

    @media screen and (max-width: $break-phone) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.lb-project-title {
    padding: 10px;
    background-color: $light-grey;
    text-align: center;
    font-weight: bold;
}

.lb-project-html {
    margin: auto;
    max-width: 700px;

    p,
    ul,
    table {
        font-size: 16px;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: left;
        font-weight: bold;
    }
    
    h2 {
        margin-top: 10px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    
    h3 {
        margin-top: 10px;
        margin-bottom: 3px;
        font-weight: bold;
    }
}