@import '../style/variables.scss';

.lb-project-content {
    padding: 40px 20% 100px 20%;

    h1 {
        text-align: center;
    }
}

.lb-project-html {
    p,
    ul {
        font-size: 20px;
    }
}