/**
 * Blocks
 */


.block{
    overflow: hidden;
    min-height: $height-unit;
    
    .block-body{
        margin: $block-padding;
        min-height: $height-unit - ($block-padding * 2); 
        position: relative;
        height: 100%;
    }
}