@import '../style/variables.scss';

.lb-intro {
    background-color: $primary-color;
    color: $text-light;
    width: 100%;
}

.lb-grid {
    position: fixed;
    display: flex;
    align-items: center;
}

.lb-left {
    padding: 30px;
    flex: 1;
}

.lb-right {
    padding: 30px;
    flex: 2;
}

.lb-intro {
    .lb-right,
    .lb-left {
        height: 300px;
    }

    .lb-left {
        text-align: center;
        img {
            border-radius: 10px;
            height: 300px;
        }
    }
}

.lb-content {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: $white;
}

.lb-header {
    background-color: $primary-color-dark;
    color: $text-light;
    width: 100%;
    align-items: center;
    display: flex;
}

.lb-header {
    .lb-left {
        text-align: center;
    }

    .lb-right {
        text-align: right;
    }
}

ul.lb-header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lb-header-links {
    li {
        i {
            color: $text-light;
        }
        display: inline-block;
        margin-right: 30px;
    }
}

.lb-resume-icon {
    text-align: center;
    border-radius: 5px;
    background-color: $text-light;
    width: 120px;
    height: 45px;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 30px;
        font-weight: bolder;
    }
}
