@import '../style/variables.scss';

.lb-intro {
    background-color: $primary-color;
    color: $text-light;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

.lb-intro {
    .lb-right,
    .lb-left {
        padding: 30px;
        height: 330px;
    }

    .lb-right {
        flex: 2;
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }

    .lb-left {
        flex: 1;
        text-align: center;
        img {
            border-radius: 10px;
            height: 330px;
        }
    }
}

.lb-content {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: $white;
}
