

$primary-color: #3f51b5;
$primary-color-light: #757de8;
$primary-color-dark: #002984;

$secondary-color: #8bc34a;
$secondary-color-light: #bef67a;
$secondary-color-dark: #5a9216;

$text-dark: #000000;
$text-light: #ffffff;

$white: #ffffff;

$font: 'Roboto', sans-serif;
$code_font: 'Inconsolata', 'monospace';