@import '../style/variables.scss';

.header {
    background-color: $primary-color-dark;
    color: $text-light;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 70px;

    h1 {
        color: $white;
    }

    .lb-left {
        text-align: center;
        flex: 1;
    }

    .lb-right {
        text-align: right;
        flex: 2;

        @media screen and (max-width: $break-tablet) {
            flex: 1;
        }
    }

    @media screen and (max-width: $break-phone) {
        flex-direction: column;
        height: auto;
        
        .lb-left,
        .lb-right {
            padding: 10px;
        }
    }
}

ul.header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-links {
    li {
        i {
            color: $text-light;
        }
        display: inline-block;
        margin-right: 30px;
    }
}
