@import '../style/variables.scss';

body,
h1,
h2,
h3,
p {
    margin: 0px;
    font-family: $font;
    font-weight: normal;
}

body {
    background-color: $white;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.lb-footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;

    p {
        padding: 5px;
        color: $dark-grey;
        font-size: 10px;

        a {
            color: $dark-grey;
            text-decoration: none;
        }
    }
}